# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Output
*.out
*.txt

# Sphinx documentation
docs/_build/

# dataset
#dataset/

# logs and results
logs/
output/

# wandb
wandb/

.vscode/
!/dataset/expla_graphs/edges/

!/dataset/expla_graphs/graphs/

!/dataset/expla_graphs/nodes/

!/dataset/expla_graphs/split/
!/dataset/gqa/train_sceneGraphs.json

!/dataset/gqa/val_sceneGraphs.json
!/dataset/scene_graphs/cached_desc/

!/dataset/scene_graphs/cached_graphs/

!/dataset/scene_graphs/edges/

!/dataset/scene_graphs/graphs/

!/dataset/scene_graphs/nodes/

!/dataset/scene_graphs/split/

!/dataset/scene_graphs/q_embs.pt
!/dataset/webqsp/cached_desc/

!/dataset/webqsp/cached_graphs/

!/dataset/webqsp/edges/

!/dataset/webqsp/graphs/

!/dataset/webqsp/nodes/

!/dataset/webqsp/split/

!/dataset/webqsp/q_embs.pt
!/dataset/irs/source/chunks.csv

!/dataset/irs/source/graph.csv
/dataset/irs/source/test.csv
/dataset/irs/source/train.csv
/dataset/irs/source/validation.csv
/dataset/irs/edges.csv
/dataset/irs/graphs.pt
/dataset/irs/nodes.csv
/dataset/irs/questions.csv
/dataset/irs/retrieval_output.csv
/dataset/irs/text.csv
/dataset/irs/edges/
/dataset/irs/graphs/
/dataset/irs/nodes/
/dataset/expla_graphs/edges/
/dataset/expla_graphs/graphs/
/dataset/expla_graphs/nodes/
/dataset/expla_graphs/split/
/dataset/gqa/train_sceneGraphs.json
/dataset/gqa/val_sceneGraphs.json
/dataset/scene_graphs/cached_desc/
/dataset/scene_graphs/cached_graphs/
/dataset/scene_graphs/edges/
/dataset/scene_graphs/graphs/
/dataset/scene_graphs/nodes/
/dataset/scene_graphs/split/
/dataset/scene_graphs/q_embs.pt
/dataset/scene_graphs/question-10k.csv
